body{
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
    font-family: "gabarito", sans-serif, serif;
    font-weight: 400;

}

/* Header */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;

}

.header__left img{
    height: 30px;
    width: 30px;
    margin-right: 5px;

}



.header__left, .header__mid, .header__right{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__right__1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.header__right__1 h3{
    padding-left: 5px;
    border-left: solid black 0.5px;
}

.header__mid, .header__right{
    justify-content: space-between;
    gap: 20px;
}

.header__right__button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 50px;
}

/* Container-1 */

.container-1{
    height: 80px;
    display: inline-block;
    width: 100%;
}

.container-1-title{
    text-align: center;
    font-size: 50px;
    font-style: inherit;
}

.container-1__catagories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-content: center;
}

.container-1__cat-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-1__cat-img h3{
    margin-left: 8px;
}

.container-1__catagories img{
    width: 30px;
    height: 30px;

}
.container-1__searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 60px;
    border: solid gray 1px;
    border-radius: 50px;

}

.container-1__search{
    display: flex;
    justify-content: center;
    align-content: center;

}

.container-1__searchbar__search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-1__searchbar__search h3{
    opacity: 0.7;
}

.container-1__searchbar img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.container-1__searchbar__button{
    background-color: aqua;
    border: none;
    border-radius: 50px;
    width: 70px;
    height: 50px;
    margin-right: 10px;
}

.container-1__img-img{
    position: relative;
    margin-top: 50px;
    color: white;
    font-size: 10px;
}

.container-1__img--dis{
    position: absolute;
    bottom: 100px;
    left: 30px;
}

.container-1__img-dis button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    font-size: 15px;

}

.container-1__img img{
    border: none;
    border-radius: 40px;
    width: 100%;
    height: 600px;
}

/* container-2 */

.container-2{
    display: inline-block;
    height: 80px;
    width: 100%;
}

.container-2__head h2{
    margin-bottom: 3px;
}

.container-2__head h3{
    font-weight: lighter;
    margin-top: 5px;
}

.container-2__img{
    display: flex;
    flex-direction: row;
    position: relative;
}

.container-2__img-images img{
    width: 290px;
    height: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

.container-2__img-images p{
    position: absolute;
    color: white;
    bottom: 3px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
}

/* Container-3 */

.container-3{
    display: inline-block;
    height: 80px;
    width: 100;
}

.container-3__head h2{
    margin-bottom: 3px;
}

.container-3__head h3{
    font-weight: lighter;
    margin-top: 5px;
}

.container-3__img{
    display: flex;
    flex-direction: row;
}

.container-3__img-images img{
    width: 290px;
    height: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

/* Container-4 */

.container-4{
    display: inline-block;
    height: 200px;
    width: 100%;
    margin-top: 150px;
    background-color: #faf1ed;
    border: none;
    border-radius: 10px;
    
}

.container-4__des{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-4__des button{
    border: solid black 1px;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    margin-top: 150px;
    background-color: white;
    margin-right: 20px;
    font-weight: bolder;

}

.container-4 img{
    width: 180px;
    height: 150px;
    border: none;
    border-radius: 20px;
    transform: rotate(-10deg);
    margin-top: 20px;
    margin-left: 20px;
}

/* Container-5 */

.container-5{
    display: block;
    height: 350px;
    width: 100%;
    background-color: #faf1ed;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

.container-5__img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.container-5__img-images img{
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
}

.container-5__img-images p{
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* Container */

.container-6{
    display: inline-block;
    height: 80px;
    width: 100%;
}

.container-6__head h2{
    border-bottom: 3px;
}

.container-6__head h3{
    font-weight: lighter;
    border-top: 2px;
}

.container-6__img{
    display: flex;
    flex-direction: row;
    position: relative;
}

.container-6__img-images img{
    width: 290px;
    height: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

.container-6__img-images p{
    position: absolute;
    color: white;
    font-weight: bolder;
    bottom: 3px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bolder;
    border-bottom: 15px;
}

/* Container */
.container-7{
    margin-top: 20px;
    background-color: #faf1ed;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.container-7__dis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container-7__dis-left th{
    text-align: left;
}

.container-7_dis-left tr{
    height: 25px;
}

.container-7__dis-left td{
    width: 200px;
}

.container-7__dis-left-2{
    display: none;

}

.container-7__left-right{
    margin-top: 0%;
}

/* Container-7- footer */

.container-7__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.container-7__footer-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.container-7__footer-left img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.container-7__footer-right{
    margin-right: 10px;
}

.container-7__footer-right-buttons button{
    border: solid black 1px;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    font-weight: bolder;
    font-size: 15px;

}